body {
    font-family: 'Roboto', sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

/* li {
list-style: none;
} */

img {
    width: 250px;
    height: 150px;
}

#logo {
    padding: 15px 0px;
    text-align: center;
    background-color: #EEE6DE;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    padding: 7px 30px;
    }

.navbar-light .navbar-nav .nav-link:hover {
    color: black;
    transition: .6s;
    }

.bg-primary {
    background-color: #9A8A73!important;
    
}

button {
    margin-left: 25px;
}

form.col-sm-6 {
   padding: 40px;
}

div#navbarNavAltMarkup.collapse.navbar-collapse {
    justify-content: center;
   
}

a.nav-link:nth-child(6) {
    position: absolute;
    right: 10px;
}

@media (max-width: 991px){
    .navExtend {
    display: none;
    }
}
 
@media (min-width: 992px){
    .navCol {
    display: none;
    }
 }
 
#photo {
    margin: auto;
	display: flex;
	justify-content: center;
}

#pic {
    height: 250px;
    width: 350px;
    margin-top: 50px;
}

/* #top {
    font-size: 12px;
    padding: 40px;
    color: #EEE6DE;
}

p {
    padding-left: 20px;
}

#bottom {
    font-size: 14px;
}

#photo{
    margin: auto;
	display: flex;
	justify-content: center;
	
}

@media (max-width: 992px) {
    #top, #bottom, p, ul {
        font-size: 10px;
    }

} */


