body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

#nav-logo {
    width: 90px;
    height: 50px;
}

#jumbo-logo {
    width: 250px;
    height: 150px;
} 

.nav-link {
    font-weight: bold;
}

.nav-link.active-page {
    text-decoration: underline;
}

#navv {
    background-color: rgb(222, 222, 222);
}

button {
    margin-left: 25px;
}

 .container-fluid {
    padding: 0;
    
 }

 #center {
     margin-bottom: 60px;
 }

 .container-fluid form {
    margin: auto; 
    width: 60%;
    height: auto;
 }

 .container-fluid img {
   width: 100%;
   height: auto;
 }

 #btn {
    margin-top: 15px;
    margin-left: 0;
	padding: 5px 30px;
 }
 #btn:hover {
	background-color: #70716f;
	transition: .5s;
	opacity: .6;
}

label {
    color: white;
}

div.jumbotron.jumbotron-fluid {
    margin: 0;
    background-color: white;
}

 div.col-lg-6.col-md-12{
    display: flex;
    align-items: center;
    margin: 0;
}

form {
    padding: 30px 0px;
    
}

#form {
    color: white;
    font-size: 22px;

}

footer {

    position:fixed;
    
    left: 0;
    
    right: 0;
    
    bottom: 0;
    
    }

 
 