body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}


li {
list-style: none;
}

img {
    width: 250px;
    height: 150px;
}

/* #logo {
    padding: 15px 0px;
    text-align: center;
    background-color: #EEE6DE;
} */

.navbar-light .navbar-nav .nav-link {
    color: white;
    padding: 7px 30px;
    }

.navbar-light .navbar-nav .nav-link:hover {
    color: black;
    transition: .6s;
    }

.bg-primary {
    background-color: #9A8A73!important;
    
}

button {
    margin-left: 25px;
}

form.col-sm-6 {
   padding: 40px;
}

div#navbarNavAltMarkup.collapse.navbar-collapse {
    justify-content: center;
   
}

a.nav-link:nth-child(6) {
    position: absolute;
    right: 10px;
}

@media (max-width: 991px){
    .navExtend {
    display: none;
    }
}
 
@media (min-width: 992px){
    .navCol {
    display: none;
    }
 }

 .container-fluid {
    padding: 0;
    
 }

 .container-fluid form {
    margin: auto; 
    width: 60%;
    height: auto;
 }

 .container-fluid img {
   width: 100%;
   height: auto;
 }

 #btn {
    margin-top: 15px;
    margin-left: 0;
	padding: 5px 30px;
 }
 #btn:hover {
	background-color: #70716f;
	transition: .5s;
	opacity: .6;
}

label {
    color: white;
}

div.jumbotron.jumbotron-fluid {
    margin: 0;
    background-color: #EEE6DE;
}

 div.col-lg-6.col-md-12{
    display: flex;
    align-items: center;
    margin: 0;
}

form {
    padding: 30px 0px;
    
}

#form {
    color: white;
    font-size: 22px;

}

 


 
 