body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

li {
list-style: none;
}

img {
    width: 250px;
    height: 150px;
}

#logo {
    padding: 15px 0px;
    text-align: center;
    background-image: url('assets/Gradient\ Background.png');
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    padding: 7px 30px;
    }

.navbar-light .navbar-nav .nav-link:hover {
    color: black;
    transition: .6s;
    }

.bg-primary {
    background-color: rgb(37, 37, 165)!important;
    
}

button {
    margin-left: 25px;
}

form.col-sm-6 {
   padding: 40px;
}

div#navbarNavAltMarkup.collapse.navbar-collapse {
    justify-content: center;
   
}

  
a.nav-link:last-child {
    position: absolute;
    right: 10px;
}

a.nav-link:nth-child(4) {
    position: absolute;
    right: 50px;
}

@media (max-width: 991px){
    .navExtend {
    display: none;
    }
}
 
@media (min-width: 992px){
    .navCol {
    display: none;
    }
 }

 .container-fluid .col-lg-6.col-md-12 {
     margin: auto;
 }

 .container-fluid .col-lg-6.col-md-12 {
    height: 100%;
    margin: auto;
}

 #bg {
    background-position: left;
	background-repeat: no-repeat;
    height: 100%;
    background-image: url('assets/Jime\ Homepage\ Pic.png');
 }

 #form {
     padding: 200px;
 }