body {
    font-family: 'Roboto', sans-serif;
    background-color: EEE6DE;
}

li {
list-style: none;
}

img {
    width: 250px;
    height: 150px;
}

#logo {
    padding: 15px 0px;
    text-align: center;
    background-color: #EEE6DE;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    padding: 7px 30px;
    }

.navbar-light .navbar-nav .nav-link:hover {
    color: black;
    transition: .6s;
    }

.bg-primary {
    background-color: #9A8A73!important;
    
}

button {
    margin-left: 25px;
}

form.col-sm-6 {
   padding: 40px;
}

div#navbarNavAltMarkup.collapse.navbar-collapse {
    justify-content: center;
   
}

a.nav-link:nth-child(6) {
    position: absolute;
    right: 10px;
}

@media (max-width: 991px){
    .navExtend {
    display: none;
    }
}
 
@media (min-width: 992px){
    .navCol {
    display: none;
    }
 }


/* .container {
    margin-top: 60px;
    padding: 0;
} */

/* div.col-lg-3.col-md-6.col-sm-12 {
    width: 600px;
} */

/* div.card {
    width: 600px;
} */
/* .container .card {
    margin: 0 auto;
    background-color: #EEE6DE;
    border: 3px solid black;
    
} */

.card {
    background-color: #EEE6DE;
    width: auto;
    border: none;
    margin: 20px;
    
}
.banner {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 100px 0 0 0;
}



.btn {
    border: none;
    color: white;
    background-color: #9A8A73;
}

.btn:hover {
    color: white;
    background-color: black;
}