html {

    height: 100%;
}

body {

font-family: 'Roboto', sans-serif;
background-image: url("assets/watercolor-paper-texture.jpg");  
background-position: center center;


}

#head {
    margin: 0 auto;
    color: white;
  }

  #photo {
    object-fit: cover;
    width: 100%;
    height: 900px;
  }


img {
    width: 250px;
    height: 150px;
}

#nav-logo {
    margin-left: 15px;
    width: 90px;
    height: 50px;
}

#jumbo-logo {
    width: 250px;
    height: 150px;
} 

.nav-link {
    font-weight: bold;
}

.nav-link.active-page {
    text-decoration: underline;
}

#navv {
    background-color: rgb(222, 222, 222);
}

button {
    margin-left: 25px;
}

 .container-fluid {
    padding: 0;
    
 }

.container {
    margin-top: 60px;
    padding: 0;
}

.container .card {
    border: none;
    margin: 30px auto;
    background-color: transparent;
}

h5 {
    color: black;
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
}

.btn {
    border: none;
    color: black;
    background-color: rgb(222, 222, 222);
}

.btn:hover {
    color: black;
    background-color: lightgrey;
}

footer {

    position:fixed;
    
    left: 0;
    
    right: 0;
    
    bottom: 0;
    
}

#reviews {
    text-align: center;
    padding: 18px; 
    background-color: rgb(222, 222, 222);
}

.review-content{
    margin: 100px;
}
    